
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Permanent+Marker&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');





*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body{
      background-image: url("/SOURCE/background.png");
      background-size: cover;
      background-repeat: no-repeat;
}
header{
      display: flex;
      justify-content: space-around;
}
.logo img{
      height: 80px;
      margin-top: 10px;
}

nav ul{
      display: flex;
      margin-top: 30px;
}
nav ul li{
      list-style-type: none;
}
nav ul li a{
      text-decoration: none;
      margin: 10px;
      font-family: 'Montserrat', sans-serif;
      color: #000;
}
.search-bar input{
      margin-top: 30px;
      border-radius: 10px;
      height: 25px;
      border-color: #000;
      color: #000;
      align-items: flex-end;
}
.search-bar input::placeholder{
      color: #000;
      padding: 15px;
      font-family: 'Montserrat', sans-serif;

}
main{
      margin-top: 110px;
      margin-left: 140px;
}
main .upper{
      display: flex;

}
main .upper .left h3{
      color: #0adab9;
      font-family: 'montserrat bold', sans-serif;
      font-size: 2rem;
}
main .upper h1{
      color: #fff;
      font-family: 'montserrat bold', sans-serif;
      font-size: 3rem;
}
main .upper .right h2{
      color: #fff;
      font-family: 'Nunito', sans-serif;
      font-size: 1.5rem;
      margin-left: 170px;
}
main p{
      color: #fff;
      width: 400px;
      margin-top: 50px;
      text-align: justify;
}
button{
      background: none;
      border: none;
      color: #fff;
      font-family: 'montserrat bold', sans-serif;
      font-weight: bold;
      margin-left: 50px;
      margin-top: 110px;
      font-size: 1rem;

}
footer ul{
      list-style-type: none;
      text-decoration: none;
}
footer{
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;

}
footer img{
      height:30px;
      width: 30px;
      margin: 5px;
}
